<app-header [showActions]="false" (showAll)="goBack()"></app-header>

<div class="cocktail-detail-container">
  @if (isLoading) {
    <div class="loading-spinner">Cargando...</div>
  } @else if (cocktail) {
    <div class="cocktail-card">
      <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}" class="cocktail-image" />
      <div class="cocktail-info">
        <h1 class="cocktail-name">{{ cocktail.strDrink }}</h1>
        <p class="cocktail-category">{{ cocktail.strCategory }} - {{ cocktail.strAlcoholic }}</p>

        <h2 class="section-title">Ingredientes:</h2>
        <app-ingredients-list [cocktail]="cocktail"></app-ingredients-list>

        <h2 class="section-title">Instrucciones:</h2>
        <p class="cocktail-instructions">{{ cocktail.strInstructions }}</p>
      </div>
    </div>
    <button class="back-to-list-button" (click)="goBack()">Volver</button>
  } @else {
    <div class="no-cocktail-found">No se encontró el cóctel.</div>
  }
</div>
